<div class="content" role="main" align="center">
    <div class="tab-content responsive col-sm-8 hidden-xs hidden-sm" align="left">
        <div id="tab1" class="tab-pane active">
            <h2>¿Quién es el aliado?</h2>
            <p dir="ltr"><img
                    src="../../../assets/plink-logo.png">
            </p>
    
            <p dir="ltr">Plink es una herramienta de Bancolombia creada para ayudarte a mejorar tus ventas. Te permite
                conocer el <strong>comportamiento de tu negocio, el perfil detallado de tus clientes y compararte con tu
                    competencia y tu categoría.</strong></p>
    
            <h3 dir="ltr">¿Cómo funciona?</h3>
    
            <p dir="ltr">Interpreta los datos transaccionales de tu negocio, entregándote información de forma agregada y
                anonimizada, por medio de gráficas que ayudan a facilitar el entendimiento de la información de tus ventas y
                tus compradores, para que tomes decisiones que impacten positivamente en las ventas de tu negocio.</p>
    
            <h3 dir="ltr">¿Para qué sirve?</h3>
    
            <ul class="list-basic" dir="ltr">
                <li>Anticiparse a las oportunidades del mercado.</li>
                <li>Mejorar el desempeño de tu negocio gracias a estrategias asertivas.</li>
                <li>Implementar acciones de marketing y estrategias comerciales.</li>
                <li>Tomar decisiones estratégicas basadas en información real derivada de las transacciones realizadas en tu
                    negocio.</li>
                <li>Identificar cuantos clientes nuevos lograste capturar.</li>
            </ul>
    
            <h3 dir="ltr">¿Qué te permite?</h3>
    
            <ul class="list-basic" dir="ltr">
                <li>Comparar el rendimiento de la facturación de tu negocio por periodos y ajustar presupuestos de venta.
                </li>
                <li>Adaptar tu modelo de precios, revisando el ticket promedio de tu categoría y tu competencia.</li>
                <li>Reaccionar oportunamente generando estrategias que te ayuden a crecer tu negocio, creando ofertas para
                    mover tus ventas en días de menor tráfico.</li>
                <li>Ajustar tus horarios de apertura o cierre, los turnos del personal y organizar los horarios de
                    abastecimiento e inventarios.</li>
                <li>Crear estrategias pensadas en tu cliente y segmentar tus comunicaciones.</li>
                <li>Conocer diferentes perfiles de acuerdo con su comportamiento de consumo y adecuar el servicio en tu
                    punto de venta.</li>
            </ul>
    
        </div>
        <div id="tab3" class="tab-pane">
            <h2>¡Conoce los planes sin costo que tenemos para ti!</h2>
            <p dir="ltr">¡Conoce los planes sin costo que tenemos para ti!</p>
    
            <h3 dir="ltr">El único requisito que necesitas para empezar a usar Plink:</h3>
    
            <p dir="ltr">Tener el servicio ventas con tarjetas (adquirencia) de las franquicias Visa, MasterCard y/o Amex
                contratado con Bancolombia, es decir, que los pagos con tarjeta que recibes en tu datáfono van a una cuenta
                Bancolombia.</p>
    
            <p dir="ltr"><a
                    href="https://www.grupobancolombia.com/wps/portal/negocios-pymes/productos-financieros/ventas-con-tarjeta"
                    title="Si quieres saber más sobre esto ingresa aquí." target="_blank"
                    class="btn btnPrincipal btn-icon btn-icon-next" style="height: 42px; max-width:400px;">Si quieres saber
                    más sobre esto ingresa aquí.</a></p>
    
            <h3 dir="ltr">¿Para quién es el Plan Básico de Plink?</h3>
    
            <p dir="ltr">Para comercios que tienen contratado el servicio de ventas con tarjetas Bancolombia,<strong> al
                    menos para una franquicia.</strong></p>
    
            <h3 dir="ltr">¿Qué información encuentras?</h3>
    
            <ul class="check-list" dir="ltr">
                <li>Facturación del negocio con tarjetas crédito y débito</li>
                <li>Días con mayores y menores ventas</li>
                <li>Demografía detallada de los clientes</li>
                <li>Descripción general del tipo de cliente con el ticket o la compra promedio más alta</li>
                <li>Descripción general del tipo de cliente que más compra en un periodo determinado</li>
            </ul>
    
            <p dir="ltr"><a href="https://comercios.plink.com.co/sign_up" title="Regístrate ahora" target="_blank"
                    class="btn btnPrincipal btn-icon btn-icon-next" style="height: 42px; max-width:400px;">Regístrate
                    ahora</a></p>
    
            <h3 dir="ltr">¿Para quién es el Plan Intermedio de Plink?</h3>
    
            <p dir="ltr">Para comercios que tienen contratado el servicio de ventas con tarjetas Bancolombia, <strong>para
                    las tres franquicias.</strong></p>
    
            <h3 dir="ltr">¿Qué información encuentras?</h3>
    
            <ul class="check-list" dir="ltr">
                <li>Facturación del negocio con tarjetas crédito y débito</li>
                <li>Días con mayores y menores ventas</li>
                <li>Demografía detallada de los clientes</li>
                <li>Descripción general del tipo de cliente con el ticket o la compra promedio más alta</li>
                <li>Descripción general del tipo de cliente que más compra en un periodo determinado</li>
                <li>Información comparativa sobre la categoría de negocio a la cual pertenece.</li>
                <li>Hábitos de consumo de los clientes en otras categorías.</li>
                <li>Mapa de calor (muestra de dónde vienen los clientes).</li>
                <li>Rango dinámico de períodos de análisis.</li>
                <li>Clientes nuevos y recurrentes.</li>
                <li>Participación de mercado según la competencia Horas de mayor y menor cantidad de transacciones en tu
                    negocio</li>
            </ul>
    
            <p dir="ltr"><a href="https://comercios.plink.com.co/sign_up" title="Regístrate ahora" target="_blank"
                    class="btn btnPrincipal btn-icon btn-icon-next" style="height: 42px; max-width:400px;">Regístrate
                    ahora</a></p>
    
        </div>
        <div id="tab4" class="tab-pane">
            <h2>Tips que te ayudarán a entender en detalle toda la información que Plink te brinda.</h2>
            <p dir="ltr">Con Plink puedes conocer el comportamiento general de tus ventas y el perfil general de tus
                clientes. Entrando a la sección inicio tienes toda la información que necesitas. Aquí te dejamos algunos
                consejos:</p>
    
            <ul class="check-list" dir="ltr">
                <li>Compara el rendimiento de la facturación de tu negocio por periodos y <strong>ajusta presupuestos de
                        venta.</strong></li>
                <li><strong>Adapta tu modelo de precios</strong>, revisando el ticket promedio de tu categoría y tu
                    competencia.</li>
                <li>Reacciona oportunamente generando estrategias que te ayuden a crecer tu negocio, creando ofertas para
                    <strong>mover tus ventas en días de menor tráfico.</strong></li>
                <li><strong>Ajusta tus horarios</strong> de apertura o cierre,<strong> los turnos del personal</strong> y
                    organiza los horarios de <strong>abastecimiento e inventarios</strong></li>
            </ul>
    
            <p dir="ltr">Con Plink puedes conocer en detalle cómo son tus clientes. Entrando a la sección Perfil de Clientes
                tienes toda la información que necesitas. Estos son algunos consejos:</p>
    
            <ul class="check-list" dir="ltr">
                <li>Valida lo que conoces de tus clientes con <strong>datos reales de compra.</strong></li>
                <li>Crea estrategias pensadas en tu cliente y <strong>segmenta tus comunicaciones.</strong></li>
                <li>Conoce diferentes perfiles de acuerdo con su comportamiento de consumo y <strong>adecua el servicio en
                        tu punto de venta.</strong></li>
                <li><strong>Diversifica tu portafolio</strong> atendiendo las necesidades de tus compradores.</li>
            </ul>
    
            <p dir="ltr">Con Plink puedes saber cómo se comportan tus clientes al comprar. Entrando a la sección Hábitos de
                Consumo tienes toda la información que necesitas. Sigue estos tips:</p>
    
            <ul class="check-list" dir="ltr">
                <li>Conoce a profundidad tus clientes más rentables para <strong>adaptar tu comunicación y tu oferta de
                        productos o servicios</strong> a sus gustos e intereses.</li>
                <li>Renueva tu portafolio de productos o servicios para cautivar otros segmentos, en función de las
                    preferencias de tus clientes y crea opciones gama alta o los productos low cost, de acuerdo a sus
                    gustos.</li>
                <li>Capacita tu personal para <strong>identificar y consentir a tus clientes más rentables.</strong></li>
            </ul>
    
            <p dir="ltr">Con Plink puedes compararte con tu categoría y tu competencia. Entrando a la sección Análisis de
                Mercado, tienes toda la información que necesitas. Mira como sacarle provecho:</p>
    
            <ul class="check-list" dir="ltr">
                <li>Define cómo distribuir tus esfuerzos de mercadeo como volanteo o publicidad exterior en las zonas verdes
                    del mapa de calor para reforzar tu presencia.</li>
                <li>Define la cobertura de tus domicilios en zonas rojas del mapa de calor.</li>
                <li>Elige una zona que sea de interés para expandir tu marca, en caso de buscar abrir franquicias o nuevos
                    locales.</li>
            </ul>
    
        </div>
        <div id="tab5" class="tab-pane">
            <h2>Lo que debes saber</h2>
            <ul class="steps-list" dir="ltr"><br>
                <li class="step_item"><span class="step_number extrabold color-yellow">1</span>
                    <p class="step_item_p">Plink es una idea Bancolombia.</p>
                </li>
                <br>
                <li class="step_item"><span class="step_number extrabold color-yellow">2</span>
                    <p class="step_item_p">Para disfrutar de este beneficio debes contar con el servicio de ventas con
                        tarjetas (adquirencia) para alguna de las siguientes franquicias Visa , MasterCard y Amex contratado
                        por colombia.</p>
                </li>
                <li class="step_item"><span class="step_number extrabold color-yellow">3</span>
                    <p class="step_item_p">La información relacionada a las ventas y facturación corresponde a las
                        transacciones realizadas en los datáfonos de tu comercio, derivadas del servicio de ventas con
                        tarjetas (adquirencia), por este motivo entre más tiempo lleves disfrutándolo, más información
                        tendremos para entregarte.</p>
                </li>
                <br>
                <li class="step_item"><span class="step_number extrabold color-yellow">4</span>
                    <p class="step_item_p">Toda la información del cliente final corresponde a clientes con Tarjeta
                        Bancolombia.</p>
                </li>
                <br>
                <li class="step_item"><span class="step_number extrabold color-yellow">5</span>
                    <p class="step_item_p">Esta información es agregada y anonimizada, por este motivo Plink no hace mención
                        de marcas específicas.</p>
                </li>
                <br>
                <li class="step_item"><span class="step_number extrabold color-yellow">6</span>
                    <p class="step_item_p">La información se presenta mensualmente en la plataforma web mediante gráficas.
                    </p>
                </li>
            </ul>
    
        </div>
    </div>
</div>